@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// font-family: "Open Sans", sans-serif;
.Card{
    border: 2px solid  #FEFEFE;
    border-top: none;
    width: 98%;
    padding: 2rem;
    margin: 0 auto;
    color: #FEFEFE;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .flexMarcaCerveja{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: center;
    }
    img{
        width: 15rem;
        height: 15rem;
    }
    h1{
        text-transform: uppercase;
        color: #ffe066;
        font-size: 3rem;
    }
    h3{
        color: #FEFEFE;
        font-size: 2.8rem;
        text-transform: uppercase;
    }
    h2{
        font-size: 3rem;
    }
}