//  font-family: "Playfair Display", serif;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.Header{
    position: relative;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #f8f9fa;
    width: 98%;
    padding: 0 3rem;
    margin: 2rem auto 0;
    .BeersOnTap{
        text-transform: uppercase;
        color: #FEFEFE;
        font-family: "Playfair Display", serif;
        font-size: 3.2rem;
        letter-spacing: .1rem;
    }
    .logo{
        width: 19rem;
    }
    
    .flexTamanhos{
        display: flex;
        flex-direction: column;
        color: #FEFEFE;
        font-family: "Playfair Display", serif;
        h2{
            font-size: 2.2rem;
            text-transform: uppercase;
        }
        p{
            font-size: 2rem;
        }
    }
}